body {
   background-color:#faf0dc;
   color:black;
   font-style:arial, sans-serif;
}

h1 {
   font-size: 32px;
   color: #a4161a;
   border: 15px;
}

img{
   h


}

form {
   background-color: #ffff;
   padding: 20px;
}

button{
   color: #a4161a;
   background-attachment: white;
   w
}
.instruccionesAdicionales{
   placeholder:color: #5f5e5e;
}