body {
   background-color:#faf0dc;
   color:black;
   font-family:arial, sans-serif;
}

h1 {
   font-size:center ;
   color: #a4161a;
   border: 15px;
   font-style: 20px;
}
h2{
   font-size: 24px;
   color:#5f5e5e;
}

img{
   width:100%;


}

form {
   background-color: #ffff;
   f
   padding: 20px;
}

button{
   color: #a4161a;
   background-attachment: white;
   
}
.instruccionesAdicionales{
   color: #5f5e5e;
}